* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

.App {
  width: 360px;
  height: 712px;
  margin-inline: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 1.5rem;
  color: #ffffff;
}
